@media print {
    @page {
        margin: 0.5cm;
    }

    html {
        font-size: 0.875rem;
        padding: 2rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .progress-bar:before {
        -webkit-print-color-adjust: exact !important;
    }
}