body {
    font-family:  Arial, sans-serif;
    background: #f0f8ff;
    color: #333;
    margin: 0;
}
header {
    background: rgba(252, 143, 0, 0.863);
    padding: 15px;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}
nav a:hover { color: rgb(255, 136, 0); }
main { padding: 20px; margin: 10px; }
img {
    border: 2px solid rgba(0, 0, 0, 0.26);
    display: block;
    margin: 20px auto;
}
footer {
    background: rgba(44, 26, 124, 0.651);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}